body {
  /* margin: 0; */
  max-width: 1200px;
}

div .page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
form {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.movie {
  text-align: center;
}

.movie h3,
.movie p {
  margin: 0;
}

.movie img {
  margin-top: 16px;
  border-radius: 10px;
}
